name: dtube_go
description: Client to interact with the avalon blockchain

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.2.1+73

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.1

  # CRYPTO RELATED
  pointycastle: ^3.1.1
  crypto_keys: ^0.3.0
  bs58check: ^1.0.2
  bs58: ^1.0.1
  secp256k1: ^0.3.0
  hex: ^0.2.0
  elliptic: ^0.3.1
  ecdsa: ^0.0.2

  # UI - video related
  webview_flutter: ^2.3.1
  video_player: ^2.2.7
  #youtube_explode_dart: ^1.9.6 #loading youtube metadata
  youtube_explode_dart: ^1.10.8 #loading youtube metadata
  better_player: ^0.0.79 # player for ipfs/sia/local files
  # youtube_plyr_iframe: ^2.0.7 # custom player for youtube
  youtube_player_iframe: ^2.2.2
  chewie: ^1.2.2

  # UI - markdown related
  flutter_markdown: ^0.6.2  # display markdown (only post description for now)
  url_launcher: ^6.0.4 # Needed to forward users from dtubego to browsers
  expandable: ^5.0.1

  # UI - image/video related
  #camera: ^0.8.1+3 # gives possibility to capture camera input in own widget
  image_picker: ^0.8.4+4 # open file browser / record image/video
  image_cropper: ^1.4.1 # cropping tool for thumbnails

  # UI - responsive design
  native_device_orientation: ^1.0.0 # get the real device orientation
  responsive_sizer: ^3.0.4+4 # measuring sizes related to the screen size
  auto_orientation: ^2.1.0 # rotate screen from code
  overlay_dialog: ^0.2.1 # used as workaround for fullscreen video
  # responsive_framework: ^0.1.4 #detect device type

  # UI - specific elements related
  intl: ^0.17.0 # convert datetime to friendly strings
  uni_links: ^0.5.1 # To open DTubeGo from other apps, when https://d.tube is detected

  font_awesome_flutter: ^9.2.0 # icons
  google_fonts: ^2.1.0
  rflutter_alert: ^2.0.2
  flutter_speed_dial: ^4.6.6 # drop out menu
  chips_input: ^0.0.6
  textfield_tags: ^1.4.2

  another_flushbar: ^1.10.25 # global snackbar to inform the user about transactions
  loadmore: ^2.0.1 # collapsable widget for long video descriptions
  jiffy: ^4.1.0 # library to display time in a user friendly way
  # scroll_snap_list: ^0.8.1 # not needed for now (snapping lists like instagram explore page)
  share_plus: ^3.0.4 # share post
  introduction_screen: ^2.1.0 # onboarding screen
  #material_floating_search_bar: ^0.3.4
  flutter_barcode_scanner: ^2.0.0 #qr scan
  decorated_icon: ^1.2.1 # shadows for icons
  simple_shadow: ^0.2.0 #shadows for png files (dtube icon)
  flutter_staggered_grid_view: ^0.4.1 # explore page
  pinput: ^1.2.2 # pin input field on startup
  shimmer_animation: ^2.1.0+1 # glow animation over images
  flutter_animator: ^3.2.0 # various transform animations
  animations: ^2.0.2
  wave: ^0.2.0 # wave animation for upload button, login screen and more

  # NETWORK - cache related
  cached_network_image: ^3.1.0

  # NETWORK - http related
  http: ^0.13.4
  dio: ^4.0.3
  # # NETWORK - authentication related
  # oauth2_client: ^2.3.0
  flutter_web_auth: ^0.3.1

  # OTHERS - global stuff
  flutter_phoenix: ^1.0.0 # for restarting the app on purpose (e.g. logout)
  flutter_launcher_icons: ^0.9.2 # creating app icons
  package_info_plus: ^1.3.0 # reading version and build number from pubspec

  # state management and storage
  flutter_bloc: ^7.1.0
  flutter_secure_storage: ^5.0.2

  # video processing
  video_compress: ^3.1.0 # compression & spize/aspect ratio & thumbnail generator

  # os related
  disk_space: ^0.2.1 # get free memory before recording video

# unsorted
  equatable: ^2.0.3
  carousel_slider: ^4.0.0
  visibility_detector: ^0.2.2

  


dev_dependencies:
  flutter_test:
    sdk: flutter
  # integration_test:
  #   sdk: flutter

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/appicon_noalpha.png"

flutter:
  uses-material-design: true
  assets:
    - assets/images/dtube_logo_white.png
    - assets/images/dtube_logo_white_shadowed2.png
    - assets/images/Flag_of_None.svg.png
    - assets/images/Image_of_none.svg.png
    - assets/images/appicon.png
    - assets/images/appicon_noalpha.png
    - assets/images/D_RocketOLC.png
    - assets/gifs/hovering_guy.gif
    - assets/gifs/hovering_girl1.gif
    - assets/gifs/hovering_girl2.gif
    - assets/gifs/hovering_messages.gif
    - assets/gifs/hovering_globe.gif
    - assets/gifs/hovering_network.gif
    - assets/gifs/hovering_graph.gif
    - assets/gifs/hovering_startup.gif
    - assets/gifs/hovering_freeandprivate.gif
    - assets/gifs/hovering_free.gif
    - assets/videos/firstpage.mp4
